
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="single-module-block-full">
    <div class="db-head-block">
        <h2 class="main-head text-center">Welcome to the <strong>Dashboard!</strong></h2>
    </div>
</div>

<div class="single-module-block-full">
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="db-task-single db-task-box">
                <div class="db-task-ico db-task-ico1">
                    <i class="fal fa-list-ul"></i>
                </div>
                <div class="db-task-info">
                    <h2>n/a</h2>
                    <p>User Lists</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <h2 class="main-head text-center">CRUD operation using MVC Entity Framework using Stored Procedure.</h2>
    <ul>
        <li>ASP.NET MVC</li>
        <li>Entity Framework</li>
        <li>Stored Procedure</li>
    </ul>
</div>
